html {
    --bg: #dae5ed;
    --font-color: #090821;
    --afont-color: #fc2f70;
    --dbg-color: rgba(0, 0, 0, 0.1);
    --dbgh-color: rgba(0, 0, 0, 0.2);
    --dbga-color: rgba(0, 0, 0, 0.3);
  
  }
  html[data-theme="dark"] {
    --bg: #282a36;
    --afont-color: #3cefff;
    --font-color: #f8f8f2;
    --dbg-color: rgba(255, 255, 255, 0.1);
    --dbgh-color: rgba(255, 255, 255, 0.2);
    --dbga-color: rgba(255, 255, 255, 0.3);
  }
  
  body {
    background-color: var(--bg);
    
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  
  
  header,
  footer {
    z-index: 1;
    display: flex;
    padding: 8px 16px;
    font-weight: 700;
    align-items: center;
  }
  
  
  .tools {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  .tools span {
    padding: 0 8px;
  }
  textarea {
    width: 50vw;
    padding: 8px 16px;
    border-style: solid;
    border-width: 0px;
    height: 82vh;
    outline: 0;
    font-size: 18px;
    font-weight: 700;
    background-color: var(--bg);
    resize: none;
    color: var(--font-color);
    font-family: "Roboto Mono", monospace;
  }
  a {
    display: inline-flex;
    border-bottom: 2px solid var(--afont-color);
    font-family: "Roboto Mono", monospace;
    color: var(--font-color);
    text-decoration: none;
    align-items: center;
    justify-content: center;
  }

  .close-button {
    position: fixed;
    top: 13px;
    right: 13px;
    display: inline-flex;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: var(--afont-color);
    cursor: pointer;
    transition: all 0.2s;
    align-items: center;
    justify-content: center;
  }
  
  .trigger {
    cursor: pointer;
  }
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--dbg-color);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--dbgh-color);
  }
  
  ::-webkit-scrollbar-thumb:active {
    background: var(--dbga-color);
  }
  
  ::placeholder {
    color: var(--font-color);
  }
  
  ::selection {
    background: #c6d5dd;
  }
  
  button {
    background-color: var(--bg);
    color: var(--afont-color);
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    font-weight: 900;
    border-bottom: 2px solid var(--afont-color);
    width: 32px;
    height: 32px;
    border: 0;
    outline: 0;
  }
  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 0.2s;
    transform: scale(1.05);
  }
  
  .show-modal {
    visibility: visible;
    opacity: 1;
    transition: all 0.2s;
    transform: scale(1);
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: auto;
    padding: 16px 32px;
    max-width: 80%;
    max-height: 80%;
    border-radius: 8px;
    background-color: var(--bg);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
    transform: translate(-50%, -50%);
  }
  
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
  }
  
  label:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }
  input {
    color:var(--font-color); background-color: var(--bg); border-top: 0; border-right: 0; border-left: 0; outline: none; border-bottom: 2px solid var(--afont-color);  text-decoration: none;   font-family: 'Roboto Mono', monospace; width: 20vw; height: 4vh;
      margin-right: 1rem;
  }
  
  
  input:checked + label {
    background: var(--afont-color);
  }
  
  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
  label:active:after {
    width: 45px;
  }
  ul {
    list-style-type: square;
    font-weight: 700;
    font-size: 18px;
    font-family: "Roboto Mono", monospace;
  }
  html.transition,
  html.transition *,
  html.transition *:before,
  html.transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
  }
  
